@if (mod() != null) {
  <div class="flex flex-col gap-2 rounded border bg-zinc-900 p-3 shadow">
    <div class="flex justify-center">
      <img src="factoriolab.webp" alt="FactorioLab" height="128" width="128" />
    </div>
    <div [innerHTML]="'landing.welcome' | translate"></div>
    <lab-select
      inputId="game"
      label="settings.game"
      [ngModel]="data().game"
      [options]="gameOptions"
      (onChange)="setGame($event)"
    ></lab-select>
    @if (data().game === Game.Factorio) {
      <lab-select
        inputId="mod"
        label="settings.modSet"
        [ngModel]="modId()"
        [options]="modOptions"
        (onChange)="setMod($event)"
      ></lab-select>
    }

    <button type="button" class="btn" (click)="openPicker()">
      <fa-icon [icon]="icon.box"></fa-icon>
      <div class="grow text-center">{{ 'landing.addItems' | translate }}</div>
    </button>
    <!-- <lab-picker
      #addItemPicker
      [header]="'landing.selectAnItem' | translate"
      (selectId)="selectItem($event)"
    ></lab-picker>
    <lab-picker
      #addRecipePicker
      [header]="'landing.selectARecipe' | translate"
      (selectId)="selectRecipe($event)"
    ></lab-picker> -->
  </div>
  <!-- <p-card>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center">
        <img
          src="factoriolab.webp"
          alt="FactorioLab"
          height="128"
          width="128"
        />
      </div>
      <div class="mt-2" [innerHTML]="'landing.welcome' | translate"></div>
      <p-dropdown
        styleClass="my-2 w-100"
        [ngModel]="data().game"
        [options]="gameOptions"
        (onChange)="setGame($event.value)"
      >
        <ng-template pTemplate="selectedItem">
          @if (gameInfo[data().game]; as info) {
            <div class="d-flex align-items-center">
              <i class="mx-1" [class]="info.icon | iconSmClass"></i>
              <span class="ms-3">{{ info.label | translate }}</span>
            </div>
          }
        </ng-template>
        <ng-template pTemplate="item" let-item>
          @if ($any(gameInfo)[item.value]; as info) {
            <div class="d-flex align-items-center">
              <i [class]="info.icon | iconSmClass"></i>
              <span class="ms-3">{{ info.label | translate }}</span>
            </div>
          }
        </ng-template>
      </p-dropdown>
      @if (data().game === Game.Factorio) {
        <p-dropdown
          styleClass="mb-2 w-100"
          [filter]="true"
          [autofocusFilter]="!contentSvc.isMobile()"
          [ngModel]="modId()"
          [options]="modOptions"
          (onChange)="setMod($event.value)"
        ></p-dropdown>
      }
      <button
        pButton
        pRipple
        type="button"
        icon="fa-solid fa-box"
        [label]="'landing.addItems' | translate"
        (click)="addItemPicker.clickOpen('item', itemIds())"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="mt-2"
        icon="fa-solid fa-industry"
        [label]="'landing.addMachines' | translate"
        (click)="addRecipePicker.clickOpen('recipe', recipeIds())"
      ></button>
      <lab-picker
        #addItemPicker
        [header]="'landing.selectAnItem' | translate"
        (selectId)="selectItem($event)"
      ></lab-picker>
      <lab-picker
        #addRecipePicker
        [header]="'landing.selectARecipe' | translate"
        (selectId)="selectRecipe($event)"
      ></lab-picker>
      @if (stateOptions().length || routerSvc.stored()) {
        <p-divider></p-divider>
      }
      @if (stateOptions().length) {
        <span class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="fa-solid fa-file-import"></i>
          </span>
          <p-dropdown
            [placeholder]="'landing.loadSavedState' | translate"
            styleClass="w-100"
            [options]="stateOptions()"
            (onChange)="setState(states()[$event.value])"
          ></p-dropdown>
        </span>
      }
      @if (routerSvc.stored(); as routerState) {
        <button
          pButton
          pRipple
          type="button"
          class="mt-2"
          icon="fa-solid fa-clock-rotate-left"
          [label]="'landing.loadLastState' | translate"
          (click)="router.navigateByUrl(routerState)"
        ></button>
      }
      <p-divider></p-divider>
      <button
        pButton
        pRipple
        type="button"
        class="p-button-help mt-2"
        icon="fa-solid fa-question"
        [label]="'landing.help' | translate"
        routerLink="wizard"
        queryParamsHandling="preserve"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined mb-3 mt-2"
        icon="fa-solid fa-forward"
        [label]="'landing.skip' | translate"
        routerLink="list"
        queryParamsHandling="preserve"
      ></button>
      <p-checkbox
        [binary]="true"
        [label]="'landing.bypass' | translate"
        [ngModel]="preferencesSvc.state().bypassLanding"
        (onChange)="preferencesSvc.apply({ bypassLanding: $event.checked })"
      ></p-checkbox>
    </div>
  </p-card> -->
} @else {
  <div class="spinner"></div>
}

<span class="absolute bottom-0 mb-3">{{ contentSvc.version$ | async }}</span>
